<ion-header>
  <ion-toolbar>
    <ion-title>Filtri Aggiuntivi</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="onAccept()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item-divider>
      <ion-label>Ordina per</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let field of sortFields; let i = index">
      <ion-badge slot="end" *ngIf="sortBadges[i] === 1"><ion-icon name="arrow-up" (click)="sortField(field, i)"></ion-icon></ion-badge>
      <ion-badge slot="end" *ngIf="sortBadges[i] === -1"><ion-icon name="arrow-down" (click)="sortField(field, i)"></ion-icon></ion-badge>
      <ion-badge slot="end" *ngIf="sortBadges[i] !== 0" color="danger" (click)="sortReset()"><ion-icon name="close"></ion-icon></ion-badge>
      <ion-label (click)="sortField(field, i)">{{ sortNames[field] }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
