<ion-header>
  <ion-toolbar>
    <ion-title>Filtri Aggiuntivi</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" *ngIf="!!this.currentFilterField" (click)="onReset()">
        <ion-icon name="trash" color="danger"></ion-icon>
      </ion-button>
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-button (click)="onAccept()">
        <ion-icon name="checkmark"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-padding">
    <ion-item-divider *ngIf="!!this.currentFilterField">
      <ion-label>Filtro</ion-label>
    </ion-item-divider>
    <ion-item *ngIf="!!this.currentFilterField">
      <ion-label>
        {{ this.currentFilterValue }}
      </ion-label>
      <ion-note slot="start">
        {{ this.columnHeader[this.currentFilterField] }}
      </ion-note>
    </ion-item>
    <ion-item-divider>
      <ion-label>Filtra per</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let field of this.filterOptions | keyvalue" detail="true">
      <ion-label (click)="filterField(field.key)">{{ this.columnHeader[field.key] }}</ion-label>
      <ion-badge slot="end">{{ field.value.size }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>
