<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">{{ raceName }} {{ subraceName }} - Territori</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let territory of this.territories | keyvalue">
      <ion-col class="ion-text-center">
        <ion-button (click)="visitUrl(territory.value)">{{ territory.key }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
